@use "variables" as *;


.gridmainarea{
  overflow: hidden;
  padding: 12.6rem 0;
  .headingarea{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.8rem;
    .topbar {
      h2 {
        font-size: 7rem;
      }
    }
  }
}
.cardgrid{
  display: grid;
  gap: 2.1rem;

  &.cardgrid-col3 {
    grid-template-columns: 1fr;
    @media (min-width: 640px) {
       grid-template-columns: repeat(2, 1fr);
    }
     @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &.cardgrid-col2 {
    grid-template-columns: 1fr;
    @media (min-width: 640px) {
       grid-template-columns: repeat(2, 1fr);
    }
    
  }
  .grid-item {
    display: flex;
    flex-direction: column;
  }

  .card-img {
    overflow: hidden;
    transition: 0.7s ease all;
    img {
      width: 100%;
      aspect-ratio: 16 / 9;
      object-fit: cover;
      display: block;
      transition: 0.7s ease all;
    }
  }

  .card-content {
    padding-top: 1.6rem;
    padding-left: 3rem;
    border-left: 1px solid #D4D4D4;
  }

  .meta {
    font-size: 1.3rem;
    color: #9C9C9C;
    display: flex;
    align-items: center;
    font-weight: 300;
    gap: 0.8rem;
    margin-bottom: 0.8rem;
    @media screen and (min-width: 1300px) {
      font-size: 1.4rem;
    }
    .category {
      color: $theme-lightblue;
      font-weight: 300;
    }
    .divider {
      width: 0.1rem;
      height: 1.1rem;
      background-color: #9C9C9C;
    }
  }

  .title {
    font-size: clamp(2rem, 1.25vw + 1.5rem, 2.5rem);
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 0.8rem;
    color:$theme-black;
    @media screen and (min-width: 1300px) {
      font-size: 2.5rem;
    }
  }

  .excerpt {
    line-height: 1.5;
    font-weight: 300;
     display: -webkit-box;
    -webkit-line-clamp: 2;      /* number of lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

}


