@use "variables" as *;


.col3Projectslider {
  position: relative;
  padding: 120px 0;


// .slider {
//   overflow: hidden;
// }

.Projects-slidertrack {
  display: flex;
  gap: 2rem;
  width: max-content; // IMPORTANT
}
.heading-block{
  max-width: 89rem;
  padding-bottom: 3rem;
}

.slider-item {
  min-width: 42rem;
  flex: 0 0 calc((100vw - 4rem) / 3); 
  flex-shrink: 0;
  transition: transform 0.3s ease;
  .img_blk{
    min-height: 45rem;
    max-height: 45rem;
    margin-bottom: 2rem;
    img {
    width: 100%;
    height: 100%;
    max-height: 45rem;
    margin-bottom: 1rem;
    min-height: 45rem;
    object-fit: cover;
  }
  }
  
  .content_blk{
    h5{
      color:$theme-black;
      font-weight: 500;
      font-size: clamp(2rem, 1vw + 1.2rem, 2.5rem);
      margin-bottom: 0.8rem;
      line-height: 1.15;
      @media screen and (min-width: 1300px) {
        font-size: 2.5rem;
      }
    }
    p{
       display: -webkit-box;
      -webkit-line-clamp: 4;      /* number of lines */
      -webkit-box-orient: vertical;
      overflow: hidden;
      max-width: 80%;
    }
  }
  
}
}



