@use "variables" as *;


.content-slider-section {
  padding: clamp(4rem, 8vw, 7rem) 0;


.container{
  margin-left: max(2rem, calc((100vw - 1200px) / 2));
  padding-right: 2rem;
}
.section-title {
  font-size: clamp(2.5rem, 4vw, 3.5rem);
  margin-bottom: 1rem;
}

.section-description {
  font-size: 1rem;
  line-height: 1.6;
  color: #6b7280;
}
.content-slider {
  display: flex;
  gap: 2rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding-bottom: 1rem;
}

}


