@use "variables" as *;

.content-subhead{
    font-size: 2rem;
    // color:$theme-lightblue;
    font-weight: 300;
    margin-bottom: 2rem;
    margin-bottom: clamp(1.6rem, 2vw, 2.8rem);
    font-size: clamp(2.4rem, 2.2vw, 3rem);
    @media (min-width: 1350px) {
        font-size: 3rem;
        margin-bottom: 2.8rem;
    }
    &.center-align{
        text-align: center;
    }
}
.heading-block{
    display: flex;
    flex-direction: column;
    gap:0.2rem;
    &.center-align{
        text-align: center;
        max-width: 90rem;
        margin: 0 auto;
    }
    .content-para{
        font-size: clamp(1.8rem, 1vw + 1.2rem, 2.2rem);
        line-height: 1.5;
        font-weight: 300;
        @media screen and (min-width: 1300px) {
            font-size: 2.2rem;
        }
    }
    .content-mainhead{
        font-weight: 500;
        margin-bottom: 0.6rem;
        margin-bottom: clamp(1.6rem, 2vw, 2.8rem);
        font-size: clamp(2.4rem, 2.2vw, 3.5rem);
        @media (min-width: 1350px) {
            font-size: 3.5rem;
            margin-bottom: 0.6rem;
        }
        
        &.blue-text{
            color:$theme-lightblue;
        }
        &.dark-text{
            color:#141616;
        }
    }
}
