@use "variables" as *;

.cta-section {
  padding: 5rem 0 5rem 0;
  overflow: hidden;
   @media screen and (min-width: 991px) {
       padding: 13rem 0 8rem 0;
    }


.cta-container {
    margin: auto;
    background-image: url('/images/home/pattern-grid1.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* CENTER */
.cta-main {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta-heading {
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 2rem;
    color:$theme-white;
    font-size: clamp(4rem, 4vw, 8rem);
    line-height: 1.3;
    @media screen and (min-width: 991px) {
        line-height: 1.08;
    }
    @media screen and (min-width: 1300px) {
        font-size: 8rem;
    }
}

.cta-text {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 0;
     @media screen and (min-width: 580px) {
          margin-top: -4.5rem;
        justify-content: center;
    }
     @media screen and (min-width: 768px) {
          // margin-top: -6rem;
          margin-top: 0;
          justify-content: center;
    }
       @media screen and (min-width: 1024px) {
          // margin-top: -10rem;
          margin-top: 0;
          justify-content: flex-end;

      }
    p{
        font-size: clamp(1.6rem, 1vw ,1.8rem);
        color:#ADADAD;
        line-height: 1.5;
        font-weight: 300;
        max-width: 100%;
        text-align: center;
         @media screen and (min-width: 580px) {
           max-width: 85%;
        }
        @media screen and (min-width: 991px) {
           max-width: 35%;
           text-align: left;
        }
        @media screen and (min-width: 1300px) {
            line-height: 1.8;
            font-size: 1.7rem;
        }
    }
    
}

/* RESPONSIVE */
@media (max-width: 991px) {
  .cta-container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 3rem;
  }

  .cta-visuals {
    display: none;
  }
}
}
