@use "variables" as *;
 
.bg-change {
  min-height: auto;
}
section{
  transition: background-color 0.4s ease;
}
/* TEXT REVEAL */
// .reveal {
//   opacity: 0;
//   transform: translateY(40px);
//   transition: transform 0.8s ease, opacity 0.8s ease;
//   &.active {
// 	opacity: 1;
//   	transform: translateY(0);
//   }
// }
.cross-fade-wrap{
    position: relative;
    width: clamp(20rem, 22vw, 25rem);
    height: clamp(8rem, 8vw, 10rem);
    overflow: hidden;
    border-radius: 12rem;
    .images-wrap {
      // position: relative;
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      border-radius: 12rem;
      img{
          position: absolute;
          inset: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          // opacity: 0;
          border-radius: 12rem;
      }
    }
    .crossfade-layer--fallback {
      z-index: 1;
    }

    .crossfade-layer--animated {
      z-index: 2;
        img{
            opacity: 0;
        }
    }
}
.cross-textfade-wrap{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: clamp(8rem, 8vw, 5rem);
    .text-wrap {
        // position: relative;
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        p{
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .footer-ctbar__location {
        display: flex;
        align-items: center;
        gap: 0.4rem;
        background: $theme-white;
        will-change: opacity;
        position: absolute;
        inset: 0;
        font-size: clamp(1.8rem, 1vw + 1.2rem, 2rem);
        padding-left: 3.6rem;
         flex-wrap: wrap;
        @media screen and (min-width: 580px) {
            flex-wrap: nowrap;
        }
        @media screen and (min-width: 1300px) {
            font-size: 2rem;
        }
        &::before{
            content: "";
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            background: url("/images/location.svg") center no-repeat;
            background-size: contain;
            width: 2.6rem;
            height: 2.6rem;
            left: 0;
        }
    }
    .crossfade-layer--fallback {
        z-index: 1;
       .footer-ctbar__location {
            opacity: 1 !important;
        }
        
    }
    .lctn-head {
        font-weight: 500;
        white-space: nowrap;
    }

    .crossfade-layer--animated {
        z-index: 2;
    
        .footer-ctbar__location {
            opacity: 0;              // animated only
        }
    }
}

.interaction_trail {
//   position: fixed;        
  position: absolute;        
  inset: 0;               
  pointer-events: none;
  z-index: 2;
  .interaction_list {
	position: absolute;
	inset: 0;               
	pointer-events: none;
  	.interaction_item {
		position: absolute;
		will-change: transform, opacity;
	}
	.image-trail-img {
		display: block;
		width: auto;
		height: auto;
	}
}
}