@use "variables" as *;

.FaqScrollsection{
    .heading_text{
        text-align: center;
    }
    .Faq-area{
        max-width: 1114px;
        margin: 0 auto;
    }
    .scroll-accordion{
        position: relative;
        padding: 3rem 0;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;              
            height: 1px;
            background: rgba(0,0,0,0.06);
            pointer-events: none;
            z-index: 2;            
        }
        .title-row{
            display: flex;
            justify-content: space-between;
            gap:2rem;
            align-items: center;
        }
        .title__number{
            color: #4284F4;
            font-weight: 300;
            font-size: clamp(1.8rem, 1vw + 1.2rem, 2.2rem);
            @media screen and (min-width: 1300px) {
                font-size: 2.2rem;
            }
        }
        .heading-row{
            display: flex;
            justify-content: flex-start;
            gap:6rem;
            align-items: center;
            cursor: pointer;
            h5{
                font-size: clamp(1.6rem, 1vw + 1rem, 2.5rem);
                margin: 0;
                @media screen and (min-width: 1300px) {
                    font-size: 2.5rem;
                }
            }
        }
        .text__wrapper {
            padding-left: 10rem;
        }
    }
}