
@use "variables" as *;
.featured_media-sec{
    position: relative;
     min-height: 100vh;
     padding: 12rem 0;
    .heading-block{
        max-width: 90rem;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 7rem;
        h2{
            font-size: clamp(6rem, 8vw, 15rem);
            color:$secondary-color;
            font-weight: 500;
            letter-spacing: -0.5rem;
            @media screen and (min-width: 1300px) {
                font-size: 15rem;
            }
        }
        h6{
            font-size: clamp(1.8rem, 1vw + 1.2rem, 2.2rem);
            max-width: 50%;
            margin: 0 auto;
            @media screen and (min-width: 1300px) {
                font-size: 2.2rem;
            }
        }
    }
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .featured-blk{
       position: relative;
        transform: translateZ(0);
        padding-top: 2rem;
    }
    .media_list{
        position: absolute;
         z-index: 1;
         will-change: transform;
        img{
            object-fit: cover;
        }
    }
    .medialistmain{
        margin: auto;
        // position: relative;
        // position: absolute;       
        // left: 50%;
        // top: 50%;
        // transform: translate(-50%, -50%);
        height: 44.375vw;
        width: 25.9722222222vw;
         z-index: 3;
         will-change: transform, opacity, filter;
        
        .center_content{
            background-color: $theme-dark;
            padding: 6rem 5rem;
            ul{
                display: flex;
                flex-direction: column;
                gap:3rem;
                justify-content: center;
                align-items: center;
                li{
                    color:$theme-white;
                    font-size: clamp(3.2rem, 2.5vw + 1rem, 4.5rem);
                    font-weight: 200;
                    line-height: 1.3;
                    text-align: center;
                    @media screen and (min-width: 1300px) {
                        font-size: 4.5rem;
                    }
                    
                }
            }
        }
    }
    .medialist1{
        height: 25.520833333333332vw;
        left: 5.557291666666667vw;
        top: 4.8888888889vw;
        width:34.049479166666664vw ;
    }
    .medialist2{
        height: 30.533854166666668vw;
        left: 59.2638888889vw;
        top: -8.2361111111vw;
        width: 40.690104166666664vw;
    }
    .medialist3{
        height: 18.359375vw;
        left: 55.5833333333vw;
        top: 26.9305555556vw;
        width: 24.479166666666668vw;
    }
}