@use "variables" as *;

.footer-info-sec{
    position: relative;
    padding: 9.2rem 0 7.2rem;
    .footer-top{
        display: flex;
        flex-direction: column;
        gap:3.2rem;
    }
    .footer-socials{
        display: flex;
        gap:3rem;
    }
    .footer-links{
        display: flex;
        align-items: center;
        gap:2rem;
        .footebtmlink{
            position: relative;
            &::before{
                content: "";
                background-color: #ADADAD;
                width: 0.15rem;
                height: 1.4rem;
                top:50%;
                left: -1rem;
                transform: translateY(-50%);
                position: absolute;
            }
        }
    }
    .footer-brand {
      .brand-text {
        font-size: 40rem;
        line-height: 1;
        font-weight: 700;
        display: inline-flex;
      }

      .brand-text span {
        --spot: 0; 
        color:#F6F8FA;
        &.is-active{
            background: radial-gradient(
            100% 100% at var(--lx, 50%) var(--ly, 50%),
            rgba(0, 174, 239, var(--spot)) 0%,
            $theme-snow-grey 50%
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;

          transition:
          background-position 0.08s linear,
          --spot 0.15s ease;
        }
      }
    }

}