@use "variables" as *;

.banner-block{
  min-height: 100svh; 
  display: grid;
  place-items: center; 
  padding: 8rem 0;
  .overlay-pattern{
    content: "";
    position: absolute;
    // background: url('/images/home/pattern-grid.svg') no-repeat center;
    // background-size: cover;

    background: url(https://flowcharts.sapphire-games.com/img/dots.svg);
    background-size: 150px;
    animation: move 100s linear infinite;
    top:0;
    left:0;
    right:0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
  }

  .heading-group{
    h1{
        color:$theme-white;
        font-weight: 500;
        font-size: clamp(4.5rem, 8vw, 12rem);
        @media (min-width: 1350px) {
          font-size: 12rem;
        }
      }
      .heading-wrap {
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: -.1em;
        // padding-bottom: .5em;
        display: flex;
        overflow: hidden;
      
    }
    
    
  }
  .hero-head{
    padding-bottom: clamp(5rem, 10vh, 10rem);
  }
 
  .hero-logo-head{
    display: flex;
    gap:2rem;
    justify-content: flex-start;
    position: absolute;
    bottom: clamp(-4rem, -6vw, -8rem); 
    gap: clamp(1rem, 2vw, 2rem);
    flex-direction: column;
   @media screen and (min-width: 580px) {
        flex-direction: row;
    }
    .logo-wrap{
      padding-right: 2rem;
      margin-right: 2rem;
      display: flex;
      gap:1.6rem;
      &:first-child{
        border-right: 1px solid #818385;
      }
    }
  }
  .banner-area{
    display: flex;
    position: relative;
    justify-content: space-between;
    .banner-content{
      // position: absolute;
      // left: 0;
      position: relative;
      z-index: 1;
      padding-top: clamp(6rem, 8vh, 10rem);
      padding-bottom: clamp(5rem, 7vh, 8rem);
    }
    .banner-subhead{
      margin-bottom: 0;
    }
  }

  .globe-container {
      width: 45%;
      height: 100vh;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      overflow: hidden;
      position: absolute;
      right: 0;
      top:50%;
      transform: translateY(-50%);
      opacity: 0.5;
      #globe-canvas {
        width: 100%;
        height: 100%;
        background: transparent;
      }
  }
  .container{
    position: relative;
  }
  .scroll-downblk{
    position: absolute;
    right: 2rem;
    overflow: hidden;
    @media screen and (min-width: 580px) {
       right: 0;
    }
    .mouse-scroll{
      display: flex;
      gap:1.2rem;
      align-items: center;
    }
    .mouse-text{
      color:#9C9C9C;
      font-size: 1.4rem;
      text-transform: uppercase;
    }
    .mouse-icon {
      border: 2px solid $theme-white;
      height: 2.8rem;
      width: 1.8rem;
      border-radius: 1.8rem;
      position: relative;
      background-color: rgba(255,255,255,.05);
       &::before {
        content: '';
        background: $theme-lightblue;
        height: 0.6rem;
        width: 0.2rem;
        position: absolute;
        top: 0;
        border-radius: 1px;
        left: calc(50% - 1px);
        animation: scroll 1.7s infinite;
      }
    }
    @keyframes scroll {
      15% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        transform: translateY(24px);
      }
    }
  }
}

 


