@use "variables" as *;

.image-hover-section {
  position: relative;
  // padding: 50px 0;
  // overflow: hidden;

  .center-content{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding-top: 5rem;
    .fixed-text{
      color:$secondary-color;
      font-weight: 500;
      font-size: clamp(4rem, 8vw, 10rem);
      text-align: center;
      line-height: 1.15;
      margin-bottom: 1.5rem;
      @media (min-width: 1350px) {
        font-size: 10rem;
        letter-spacing: -6px;
        line-height: 1;
          margin-bottom: 2.5rem;
      }
    }
    .floating-text{
      color:rgba(#9C9C9C,0.1);
      font-weight: 500;
      font-size: clamp(5rem, 8vw, 14rem);
      line-height: 1.15;
      margin-bottom: 1rem;
      text-align: center;
      @media (min-width: 1350px) {
        font-size: 14rem;
        letter-spacing: -6px;
        line-height: 1;
        margin-bottom: 1.5rem;
      }
    }
      .floating-text span {
    display: inline-block;
    opacity: 0;
    white-space: nowrap;
  }
    .text-wrap{
      width: 100%;
      max-width: 95%;
      margin: 0 auto;
      text-align: center;
      @media (min-width: 768px) {
        max-width: 60%;
      }
      @media (min-width: 1350px) {
        max-width: 45rem;
      }
      h6{
        color: $primary-color;
      }
    }
  }
  .image-hover-wrap {
    position: relative;
    cursor: none; 
    display: flex;
    flex-direction: column;
    gap: 160px;
  }
  .wrapper_image {
    display: flex;
    gap: 120px;
    justify-content: center;
    position: relative;
    z-index: 1;
    cursor: auto!important;
  }
  .wrapper_image:nth-of-type(1) {
    justify-content: center;
    align-items: flex-end;
     .img-box:nth-child(2){
      margin-top: -12rem;
    }
     .img-box:nth-child(1){
      margin-bottom: -12rem;
    }
  }

  .wrapper_image:nth-of-type(2) {
    justify-content: flex-start;
  }

  .wrapper_image:nth-of-type(3) {
    justify-content: center;
    align-items: flex-start;
    padding-top: 14rem;
     .img-box:nth-child(2){
      margin-bottom: -12rem;
    }
    
  }

  .wrapper_image.wrapper-third {
    justify-content: center;
  }

  .image-row {
    display: flex;
    justify-content: center;
    gap: 140px;
    position: relative;
  }

  .img-box {
    // position: absolute;
    will-change: transform;    
    overflow: hidden;  
    max-width: 245px;
    max-height: 245px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      display: block;
      width: 100%;
      height: auto;
      pointer-events: none;
      z-index: 2;
    }       
  }
 
}


