@use "variables" as *;

.mf-cursor {
  width: 40px;
  height: 40px;
  border: 2px solid $theme-lightblue;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9;
  background: rgba($theme-lightblue, 0.12);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  color: transparent; // ✅ Hide text by default
  line-height: 1;
  overflow: hidden;
  transition:
    width 0.2s ease,
    height 0.2s ease,
    font-size 0.2s ease,
    background 0.2s ease,
    color 0.2s ease;
    @media (min-width: 768px) {
       width: 40px;
      height: 40px;
    }

  &::before {
    opacity: 0 !important;
  }

  &.-text {
    background: $theme-lightblue;
    color: $theme-white;
    border-color: transparent;
    width: 80px;
    height: 80px;
    @media (min-width: 768px) {
        width: 150px;
        height: 150px;
    }
  }

  &-text {
    font-size: 16px!important;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    @media (min-width: 768px) {
        font-size: 20px!important;
    }
  }
}
body.footer-cursor-active {

  .mf-cursor {
    width: 180px;
    height: 180px;
    background: transparent;
    border-color: transparent;
  }
  .mf-cursor-text{
    width: 180px;
    height: 180px;
    position: relative;
    top: auto;
    left: auto;
  }

  .mf-circle-text {
    position: relative;
    width: 180px;
    height: 180px;
    pointer-events: none;
  }

  .mf-circle-text svg {
    width: 100%;
    height: 100%;
    animation: rotateText 8s linear infinite;
  }

 .mf-circle-text text {
  fill: #000; 
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.mf-circle-text .circle-dot {
  fill: #00AEEF;   
  font-weight: 700;
}


  .mf-center-arrow {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 106px;
    height: 106px;
    border-radius: 50%;
    background: #3902FFF2;
    background: url("/images/footer-cursor.svg") no-repeat center;
    background-size: contain;
    color: $theme-white;
    display: grid;
    place-items: center;
    font-size: 22px;
    font-weight: 600;
  }
}

@keyframes rotateText {
  to {
    transform: rotate(360deg);
  }
}