@use "variables" as *;

.serviceScrollsection{
    opacity: 1!important;
    padding: 5rem 0 ;
    position: relative;
    @media screen and (min-width: 991px) {
       padding: 12rem 0 
    }
    .scroll-opacity-text{
        font-weight: 200;
        line-height: 1.4;
    }
  
   .highlight-img{
        width: clamp(8rem, 8vw, 15rem);
        height: clamp(4rem, 8vw, 5.5rem);
        margin-bottom: -1rem;
        .oval-image{
        width: 100%;
        max-height: clamp(4rem, 8vw, 5.5rem);
        height: 100%;
        object-fit: cover;
        border-radius: 12rem;
        object-position: center;
    }
   }

  .service-accordion-area {
    .title__number {
      color: #3174F1;
      font-weight: 400;
    }

    .content-box-col {
      margin-top: 0;
      z-index: 2;    
      position: relative;
      @media screen and (min-width: 991px) {
        margin-top: -8rem;
      }
    }

    .heading-row {
      display: flex;
      align-items: center;
      gap: 3.5rem;
    }
    .heading-btm-row {
      display: flex;
      flex-direction: column;
      gap: 1.8rem;
    }
    .title-btm-row{
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    .btm-col{
      width: 100%;
      @media screen and (min-width: 768px) {
       width: 45%;
      }
       @media screen and (min-width: 1024px) {
       width: 30%;
      }

    }
    h6{
      line-height: 1;
    }
    h2 {
        line-height: 1.15;
      }
      h4{
        line-height: 1.15;
      }

    .featured-img-row {
      width: 100%;
      height: 23rem;
      @media screen and (min-width: 991px) {
        width: 59.4rem;
      }
    }
  

    .featured-img {
      width: 100%;
      height: 100%;
      max-height: 23rem;
      object-fit: cover;
      transform-origin: center;
      display: block;
      transition: opacity 0.7s ease;
    }

    .scroll-accordion .title-row {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      // padding: 3.5rem 0 0;
      position: relative;
      z-index: 2;
    }

    .scroll-accordion {
      display: block;
      position: relative !important;
      // border-bottom: 1px solid rgba(0, 0, 0, 0.06);
      background-clip: padding-box;

      // background-color: #F6F8FA;
      will-change: transform;
      overflow: hidden;
      padding: 3.7rem 0;
    }
    .scroll-accordion::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;              
      height: 1px;
      background: rgba(0,0,0,0.06);
      pointer-events: none;
      z-index: 2;            
    }
    .text__wrapper {
      // overflow: hidden;
      overflow: visible!important;
      display: grid;
      grid-template-columns: 1fr;
      gap: 3.5rem;
      // padding: 3.7rem 0 8rem;
      will-change: height, opacity;
      transition: none !important; 
      @media screen and (min-width: 991px) {
        grid-template-columns: 1.3fr 1fr;
      }
    }

    .text__wrapper.is-open {
      visibility: visible;
      pointer-events: auto;
      // padding: 3.7rem 0 8rem;
      padding: 3.7rem 0  0;
    }
    .text__wrapper:not(.is-open) {
      visibility: hidden;
      pointer-events: none;
      // padding: 3.7rem 0 0;
    }

    .features-list {
      column-count: 2;
      margin: 0;
      padding: 0;
      padding: 2.4rem 0;
      list-style: none;
      li{
        padding-left: 1.5rem;
        position: relative;
        margin: 0 0 2.4rem 0;
        &::before{
          content: "";
          background-color: transparent;
          width: 0.9rem;
          height: 0.9rem;
          border: 2px solid #3902FFF2;
          border-radius: 50%;
          position: absolute;
          // top: 1rem;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
        }
      }
    }
    .scroll-bttom-row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 2rem;
      margin-top: 3.5rem;
      opacity: 1; /* visible */
      transform: translateY(0);
      visibility: visible;
      transition: opacity 420ms cubic-bezier(.22,.9,.3,1), transform 420ms cubic-bezier(.22,.9,.3,1);
      @media screen and (min-width: 991px) {
        flex-wrap: nowrap;
      }
    }
  }
    
}