@use "variables" as *;

.stats-highlight-section {
  padding: clamp(5rem, 10vw, 14rem) 0;
  .section-header{
   display: inline;
   padding-bottom: 6rem;
   width: 100%;
   display: flex;
   flex-wrap: wrap;
    h4{
        font-size: clamp(2.2rem, 1.5vw + 1.5rem, 3.5rem);
        font-weight: 200;
        color:$theme-white;
        width: 70%;
        margin-left: auto;
        @media screen and (min-width: 1300px) {
            font-size: 3.5rem;
        }
    }
    h2{
       font-size: clamp(5rem, 1.5vw + 1.5rem, 10rem);
       color:$theme-white;
        @media screen and (min-width: 1300px) {
            font-size: 10rem;
        } 
    }
    .highlight{
        color:$theme-lightblue;
    }
  }
  .stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
    .stat-value {
        font-size: clamp(4rem, 4vw, 8rem);
        font-weight: 500;
        margin-bottom: 0.4rem;
        line-height: 1.1;
        color:$theme-white
    }

    .stat-label {
        color: #9C9C9C;
    }
    .stat-icon{
        width: 6rem;
        height: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 100%;
            height: auto;
            object-fit: contain;

        }
    }
    .stat-card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }
    }
  
}








