@use "variables" as *;

.testimonial-section{
    background: linear-gradient(180deg, rgba(246, 248, 250, 0) 35%, #EBF1F3 100%);
    min-height: 100vh;
    max-height: 75.9rem;
    .testimonial-area{
        padding: 28rem 0;
    }
    .center-content-area{
        max-width: 115rem;
        margin: 0 auto;
        text-align: center;
        // .tooltip-card{
        //    display: none;
        // }
        .logo-tooltip-wrap{
            // display: inline-block;
            position: relative;
            display: inline-flex;
            align-items: center;

        }
        .img-wrap{
            position: relative;
            width: clamp(15rem, 22vw, 16.5rem);
            height: clamp(5rem, 8vw, 6.7rem);
            overflow: hidden;
            border-radius: 12rem;
            background: $theme-white;
            border: 1px solid #B1C1DA33;
            padding: 0.7rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .brand-logo{
             width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 12rem;
        }
        .logo-tooltip-wrap:hover .tooltip-card,
        .logo-tooltip-wrap:focus-within .tooltip-card {
        opacity: 1;
        visibility: visible;
        transform: translateX(-50%) translateY(0);
        pointer-events: auto;
        }
        .tooltip-card {
            position: absolute;
            top: calc(100% + 14px);
            left: 50%;
            transform: translateX(-50%) translateY(-10px);
            width: 52rem;
            background: $theme-white;
            padding: 4rem 5rem;
            box-shadow: 0px 8px 10px 0px #0000000D;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transition: all 0.3s ease;
            z-index: 50;
           
            .tooltip-text{
                text-align: left;
                margin-bottom: 3rem;
            }
            .tooltip-user{
                display: flex;
                gap:1.4rem;
                align-items: center;
                justify-content: flex-start;
            }
            .user-img{
                width: 5.5rem;
                height: 5.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
            .customer{
                font-size: clamp(1.6rem, 1vw + 1.2rem, 2rem);
                color:$secondary-color;
                font-weight: 500;
                line-height: 1.12;
                display: block;
                text-align: left;
                margin-bottom: 1rem;
                @media screen and (min-width: 1300px) {
                    font-size: 2rem;
                }
            }
            .desig{
                font-size: clamp(1.3rem, 1vw + 1.2rem, 1.5rem);
                color:#818385;
                font-weight: 400;
                line-height: 1.12;
                display: block;
                text-align: left;
                @media screen and (min-width: 1300px) {
                    font-size: 1.5rem;

                }
            }
        }
    }
}