/****Font Colors***/
$primary-color:#4E4E4E;
$secondary-color:#212427;
$theme-black: #000000;
$theme-white: #FFFFFF;
$theme-blue:#4284F4;
$theme-lightblue:#00AEEF;
$theme-yellow: #FBBC04;
$theme-red: #EA4335;
$theme-green: #008272;
$theme-dark:#0E1216;
$theme-grey:#101519;
$theme-snow-grey: #F6F8FA;
$theme-light-grey: #818385;
$theme-deep-grey: #D9D9D9;


$primary-font:"DM Sans", sans-serif;
$font-size: 1.7rem;