---
import ContentSubHead from "./ContentSubHead.astro";
---

<section class="awards-arc bg-change" data-color="linear-gradient(180deg, #F6F8FA 39.9%, #EBF1F3 100%)">
    <div class="container">
        <div class="award-arc-area">
            <div class="arc-container">
                <div class="arc-track">
                    <svg  xmlns="http://www.w3.org/2000/svg" width="669" height="335" viewBox="0 0 669 335" fill="none">
                        <path  id="arcPath" opacity="0.2" d="M668.5 334.5C668.5 150.037 518.963 0.5 334.5 0.5C150.037 0.5 0.5 150.037 0.5 334.5" stroke="url(#paint0_linear_999_1530)"/>
                        <defs>
                        <linearGradient id="paint0_linear_999_1530" x1="334.5" y1="0.5" x2="334.5" y2="334.5" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#6C8BBF"/>
                        <stop offset="1" stop-color="#F6F8FA"/>
                        </linearGradient>
                        </defs>
                    </svg>
                    <div class="arc-item">
                        <div class="award-img">
                            <img src="/images/home/award1.svg" alt="">
                        </div>
                        <span class="aw_txt">Davey Award Winner</span>
                    </div>
                    <div class="arc-item">
                        <div class="award-img">
                            <img src="/images/home/award2.svg" alt="">
                        </div>
                        <span class="aw_txt">Triumph Winner</span>
                    </div>
                    <div class="arc-item">
                        <div class="award-img">
                            <img src="/images/home/award3.svg" alt="">
                        </div>
                        <span class="aw_txt">eCommerce Plugins & Addons to Enhance Sales</span>
                    </div>
                    <div class="arc-item">
                        <div class="award-img">
                            <img src="/images/home/award4.svg" alt="">
                        </div>
                        <span class="aw_txt">Platinum Winner</span>
                    </div>
                    <div class="arc-item">
                        <div class="award-img">
                            <img src="/images/home/award5.svg" alt="">
                        </div>
                        <span class="aw_txt">Platinum Award</span>
                    </div>
                    <div class="arc-item">
                        <div class="award-img">
                            <img src="/images/home/award5.svg" alt="">
                        </div>
                        <span class="aw_txt">Davey Award Winner</span>
                    </div>
                    
                </div>
            </div>

            <div class="arc-center">
                <div class="arc-center-content">
                    <img src="/images/home/awards-center.svg" alt="" class="center-icon"/>
                    <div class="text-wrap">
                        <ContentSubHead heading="Awards & Accolades" align="center-align" color="#9C9C9C"/>
                        <h6>
                            Multiple international awards, every year, since 2012! Apart from the 16 international awards that we've won, we're also a Google Certified Partner and Bing Ads Accredited Professional Company. We've also been featured and mentioned in many leading tech magazines and portals for our various contributions.
                        </h6>
                    </div>
                </div>
                <div class="arc-bottom-text">
                    <h2>We‘ve won</h2>
                </div>
            </div>
        </div>
  </div>
</section>
