---
const {
  heading = "",
  align = "center",      // "center" | "left"
  whiteText = false,    // true | false
  color = "",           // ✅ NEW: custom color option
  className = "",
} = Astro.props;

const classes = [
  "banner-subhead",
  align === "left" ? "left-align" : "center-align",
  whiteText ? "white-text" : "",
  className,
]
  .filter(Boolean)
  .join(" ");

const style = color ? `color: ${color};` : "";
---

<div class={classes} style={style}>
  {heading}
</div>


