---
import ContentSubHead from "./ContentSubHead.astro";
---

<section class="client-logo-section bg-change" data-color="#0E1216">
    <div class="container">
        <div class="heading-block">
          <ContentSubHead heading="Clients" align="center-align" color="#9C9C9C"/>
              <h3 class="section-description">
                Since 2011, we've joined forces with leading companies to shape a better future.
                <span class="highlight"> Will yours be next?</span>
            </h3>
        </div>
        <div class="client-logogrid">
            <div class="grid-block">
                    <div class="cross-fade-wrap">
                    <div id="images-wrap" class="images-wrap crossfade-layer--animated">
                        <img class="fade-img js-crossfade" src="/images/home/client1.svg" alt="fade-img" title=" fade-img">
                        <img class="fade-img js-crossfade"  src="/images/home/client2.svg" alt="fade-img" title=" fade-img">
                        <img class="fade-img js-crossfade" src="/images/home/client3.svg" alt="fade-img" title=" fade-img">
                    </div>
                </div>
            </div>
            <div class="grid-block">
                <div class="cross-fade-wrap">
                    <div id="images-wrap" class="images-wrap crossfade-layer--animated">
                        <img class="fade-img js-crossfade" src="/images/home/client2.svg" alt="fade-img" title=" fade-img">
                        <img class="fade-img js-crossfade"  src="/images/home/client1.svg" alt="fade-img" title=" fade-img">
                        <img class="fade-img js-crossfade" src="/images/home/client3.svg" alt="fade-img" title=" fade-img">
                    </div>
                </div>
            </div>
            <div class="grid-block hoverText">
                <span class="text-blk">It's You?</span>
            </div>
            <div class="grid-block">
                <div class="cross-fade-wrap">
                    <div id="images-wrap" class="images-wrap crossfade-layer--animated">
                        <img class="fade-img js-crossfade" src="/images/home/client3.svg" alt="fade-img" title=" fade-img">
                        <img class="fade-img js-crossfade"  src="/images/home/client2.svg" alt="fade-img" title=" fade-img">
                        <img class="fade-img js-crossfade" src="/images/home/client1.svg" alt="fade-img" title=" fade-img">
                    </div>
                </div>
            </div>
            <div class="grid-block">
                <div class="cross-fade-wrap">
                    <div id="images-wrap" class="images-wrap crossfade-layer--animated">
                        <img class="fade-img js-crossfade" src="/images/home/client4.svg" alt="fade-img" title=" fade-img">
                        <img class="fade-img js-crossfade"  src="/images/home/client2.svg" alt="fade-img" title=" fade-img">
                        <img class="fade-img js-crossfade" src="/images/home/client1.svg" alt="fade-img" title=" fade-img">
                    </div>
                </div>
            </div>
            <div class="grid-block hoverText">
                <span class="text-blk">It's You?</span>
            </div>
            <div class="grid-block">
                    <div class="cross-fade-wrap">
                    <div id="images-wrap" class="images-wrap crossfade-layer--animated">
                        <img class="fade-img js-crossfade" src="/images/home/client5.svg" alt="fade-img" title=" fade-img">
                        <img class="fade-img js-crossfade"  src="/images/home/client2.svg" alt="fade-img" title=" fade-img">
                        <img class="fade-img js-crossfade" src="/images/home/client1.svg" alt="fade-img" title=" fade-img">
                    </div>
                </div>
            </div>
            <div class="grid-block">
                <div class="cross-fade-wrap">
                    <div id="images-wrap" class="images-wrap crossfade-layer--animated">
                        <img class="fade-img js-crossfade" src="/images/home/client6.svg" alt="fade-img" title=" fade-img">
                        <img class="fade-img js-crossfade"  src="/images/home/client2.svg" alt="fade-img" title=" fade-img">
                        <img class="fade-img js-crossfade" src="/images/home/client1.svg" alt="fade-img" title=" fade-img">
                    </div>
                </div>
            </div>
            <div class="grid-block">
                <div class="cross-fade-wrap">
                    <div id="images-wrap" class="images-wrap crossfade-layer--animated">
                        <img class="fade-img js-crossfade" src="/images/home/client7.svg" alt="fade-img" title=" fade-img">
                        <img class="fade-img js-crossfade"  src="/images/home/client2.svg" alt="fade-img" title=" fade-img">
                        <img class="fade-img js-crossfade" src="/images/home/client1.svg" alt="fade-img" title=" fade-img">
                    </div>
                </div>
            </div>
           
            
            <div class="grid-block">
                <div class="cross-fade-wrap">
                    <div id="images-wrap" class="images-wrap crossfade-layer--animated">
                        <img class="fade-img js-crossfade" src="/images/home/client8.svg" alt="fade-img" title=" fade-img">
                        <img class="fade-img js-crossfade"  src="/images/home/client2.svg" alt="fade-img" title=" fade-img">
                        <img class="fade-img js-crossfade" src="/images/home/client1.svg" alt="fade-img" title=" fade-img">
                    </div>
                </div>
            </div>
            <div class="grid-block hoverText">
                <span class="text-blk">It's You?</span>
            </div>
            <div class="grid-block">
                <div class="cross-fade-wrap">
                    <div id="images-wrap" class="images-wrap crossfade-layer--animated">
                        <img class="fade-img js-crossfade" src="/images/home/client9.svg" alt="fade-img" title=" fade-img">
                        <img class="fade-img js-crossfade"  src="/images/home/client2.svg" alt="fade-img" title=" fade-img">
                        <img class="fade-img js-crossfade" src="/images/home/client1.svg" alt="fade-img" title=" fade-img">
                    </div>
                </div>
            </div>
            
              <div class="grid-block">
                <div class="cross-fade-wrap">
                    <div id="images-wrap" class="images-wrap crossfade-layer--animated">
                        <img class="fade-img js-crossfade" src="/images/home/client10.svg" alt="fade-img" title=" fade-img">
                        <img class="fade-img js-crossfade"  src="/images/home/client2.svg" alt="fade-img" title=" fade-img">
                        <img class="fade-img js-crossfade" src="/images/home/client1.svg" alt="fade-img" title=" fade-img">
                    </div>
                </div>
            </div>
            <div class="grid-block hoverText">
                <span class="text-blk">It's You?</span>
            </div>
            <div class="grid-block">
                <div class="cross-fade-wrap">
                    <div id="images-wrap" class="images-wrap crossfade-layer--animated">
                        <img class="fade-img js-crossfade" src="/images/home/client11.svg" alt="fade-img" title=" fade-img">
                        <img class="fade-img js-crossfade"  src="/images/home/client2.svg" alt="fade-img" title=" fade-img">
                        <img class="fade-img js-crossfade" src="/images/home/client1.svg" alt="fade-img" title=" fade-img">
                    </div>
                </div>
            </div>
            <div class="grid-block hoverText">
                <span class="text-blk">It's You?</span>
            </div>
            <div class="grid-block">
                <div class="cross-fade-wrap">
                    <div id="images-wrap" class="images-wrap crossfade-layer--animated">
                        <img class="fade-img js-crossfade" src="/images/home/client12.svg" alt="fade-img" title=" fade-img">
                        <img class="fade-img js-crossfade"  src="/images/home/client2.svg" alt="fade-img" title=" fade-img">
                        <img class="fade-img js-crossfade" src="/images/home/client1.svg" alt="fade-img" title=" fade-img">
                    </div>
                </div>
            </div>
            <div class="grid-block">
                <div class="cross-fade-wrap">
                    
                    <div id="images-wrap" class="images-wrap crossfade-layer--animated">
                        <img class="fade-img js-crossfade" src="/images/home/client13.svg" alt="fade-img" title=" fade-img">
                        <img class="fade-img js-crossfade"  src="/images/home/client2.svg" alt="fade-img" title=" fade-img">
                        <img class="fade-img js-crossfade" src="/images/home/client1.svg" alt="fade-img" title=" fade-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>