---
import Button from "../components/Button.astro";
import ImageTrail from "./ImageTrail.astro";
---
<section class="cta-section bg-change" data-color="#0B0F14">
    <div class="container">
        <div class="cta-container">
            <ImageTrail />

            <div class="cta-main">
            <h2 class="cta-heading">
                Let's Talk About What We <br /> Can Build Together.
            </h2>
            <Button  href="/contact" text="Start a project" variant="primary" extraClass="large-icon-btn" withArrow >
            </div>
        </div>
        <div class="cta-text">
        <p>
            Whatever may be your requirement - be it a simple website design, a complex data driven web application development, an ecommerce website, a native or cross platform mobile app development, a logo and brand identity design, a video production or a full fledged digital marketing campaign - we have a solution for you.
        </p>
        </div>
  </div>
</section>
