<section class="featured_media-sec">
    <div class="heading-block">
        <h2>Web Design.</h2>
        <h6>We do not just web design, but out-of-the box digital experiences that takes your business to the next level!</h6>
    </div>
    <div class="featured_media_area">
        <ul class="featured-blk">
            <li class="media_listmain medialistmain">
                <div class="center_content">
                    <ul>
                        <li>Conceptual Websites</li>
                        <li>Corporate Websites</li>
                        <li>Experience Design</li>
                    </ul>
                </div>
            </li>
            <li class="media_list medialist1">
                <img src="/images/home/media1.png" alt="">
            </li>
            <li class="media_list medialist2">
                <img src="/images/home/media2.png" alt="">
            </li>
            <li class="media_list medialist3">
                <img src="/images/home/media3.png" alt="">
            </li>
            
        </ul>
    </div>
</section>