<div class="interaction_trail">
  <div class="interaction_list">
    <div class="interaction_item">
      <img src="/images/home/trail1.png" class="image-trail-img" />
    </div>
    <div class="interaction_item">
      <img src="/images/home/trail2.png" class="image-trail-img" />
    </div>
    <div class="interaction_item">
      <img src="/images/home/trail3.png" class="image-trail-img" />
    </div>
    <div class="interaction_item">
      <img src="/images/home/trail4.png" class="image-trail-img" />
    </div>
  </div>
</div>


