
---
interface Props {
  innerColor?: string;
  outerColor1?: string;
  outerColor2?: string;
}

const {
  innerColor = "#0E1216",
  outerColor1 = "#00CCE6",
  outerColor2 = "#8000CC",
} = Astro.props;
---

<div
  class="interactive-globe-container"
  data-inner-color={innerColor}
  data-outer-color1={outerColor1}
  data-outer-color2={outerColor2}
>
  <canvas id="globe-canvas"></canvas>
</div>




