---
import BannerSubhead from "./BannerSubHead.astro";
import Button from "./Button.astro";
---

<section class="service bg-change" data-color="#FFFFFF">
  <div class="banner-area container">
    <div class="banner-content">

      <BannerSubhead heading="Our Services" align="left" />
       <Button href="#contact" text="Start a Project" variant="primary" extraClass="Small-icon-btn"  withArrow/>

     

    </div>
  </div>
</section>
