---
import BannerSubhead from "./BannerSubHead.astro";
---

<section class="testimonial bg-change" data-color="#F6F8FA">
  <div class="banner-area container">
    <div class="banner-content">

      <BannerSubhead heading="Testimonials" align="left" />

      <div class="banner-text">
       

      </div>
    </div>
  </div>
</section>
